body {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

img {
    max-width: 100%;
}

header {
    background: #FFFFFF;
    width: 100%;
}

.logo-text {
    text-transform: uppercase;
    background-color: #63C6AE;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

header nav {
    clear: left;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    list-style-type: none;
    background: #242C2C;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255 0.2);
}

header nav li a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 25px 0;
    transition: .5s ease;
}

header nav li a:hover {
    color: #63C6AE;

}

.hero {
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #FFFFFF 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat,
        linear-gradient(-45deg, #FFFFFF 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../images/01.jpg);
    background-size: 40px 40px, 40px 40px, cover;
}

.hero h1 {
    background-color: #63C6AE;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    text-transform: uppercase;
}

.hero p {
    background-color: #242C2C;
    margin: 5px 30px 35px;
    color: #FFFFFF;
    padding: 20px;
    font-size: 16px;
}

.hero a {
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.people-cards {
    margin-top: 2.5em;
    border-left: 1px solid #DBE1E7;
}

.people-cards article:hover {
    outline: 5px solid #63C6AE;
    outline-offset: -5px;
}

.people-cards article:hover .people-cards-avatar img {
    transform: translateY(-50%);
}

.people-cards article:hover .people-cards-content h2,
.people-cards article:hover .people-cards-content p {
    color: #63C6AE;
}

.people-cards article>img {
    width: 100%;
}

.people-cards-avatar {
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.people-cards-content {
    text-align: center;
    padding: 40px 25px 10px;
}

.people-cards-content h2 {
    color: #737C85;
    font-size: 21px;
    font-weight: normal;
}

.people-cards-content p {
    color: #929DA5;
    font-size: 14px;
}

.content {
    background: #F8F9F9;
    padding: 20px 0 80px;
    border-top: 1px solid #E3E3E3;
}

.content h3 {
    color: #737C85;
    font-size: 21px;
    padding-top: 40px;
    font-weight: 400;
}

.content p {
    color: #929DA5;
    font-size: 14px;
    word-spacing: 3px;
}

.button {
    padding: 15px 40px;
    border-radius: 3px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
    transition: background .5s;
}

.button:hover {
    background-color: #929DA5;
}

.button-primary {
    background-color: #63C6AE;
}

.button-secundary {
    background-color: #455357;
}

.last-articles-title {
    background-color: #63C6AE;
    padding: 5px 0;   
}

.last-articles-title h2 {
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight:  400;
}

.last-articles-thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.last-articles-thumbs img {
    display: block;
    width: 100%;
}

.laptop-slider {
    background-color: #242A2C;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slideshow {
    white-space: nowrap;
}

.slideshow figure {
    display: inline-block;
}

.quote-container {
    background-color: #63C6AE;
    padding: 50px 0;
    border-bottom: 12px solid #48B9A1;
}

.quote-slideshow h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.no-js .quote-slideshow figure + fiugre {
    margin-top: 5em;
}

footer {
    background-color: #242A2C;
    padding: 50px 0 250px;
    color: #454E51;
    font-size: 14px;
}

footer ul li {
    list-style: none;
}

footer ul a {
    color: #454E51;
    display: block;
    font-weight: 600;
}